# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\TEC\I SEMESTRE 2021\Análisis de Algoritmos\Casos 3\algoritmos-caso-3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
